@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  /* this breaks primevue TextInput styles */
  /* @tailwind base; */
}

@layer primevue {
  * {
    min-width: 0;
  }

  body {
    margin: 0; /* Remove the margin in all browsers. */
    min-height: 100dvh;
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;
}
